@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

Body {
    background-color: aqua;
}


header > p  {
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(252, 249, 249);
}

header {
    background-color: black;


}

section {
    width: 100%;
    height: 500px;
    background-color: rgb(177, 11, 11);
    margin: auto;
    position: absolute;
}

p {
    color: white;
    text-align: center;
    padding-top: 50px;
}

img#1 {
    

}

section > img#2 {
    left: 100%;
}

div {
    position: absolute;
}